@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@0;1&display=swap');

body{
    background-color:#13274F;
    color: white;
}

/*header styling*/
.header{
    display: flex;
    justify-content: space-between;
    height:15vh;
    font-family: 'Andada Pro', serif;
}

.profileImage{
    display: flex;
}
.profileImage>div{
    display: flex;
    flex-direction: column;
}

.profileImage img{
    border-radius: 50%;
    height:8vh;
}

/*setting color of fav icons*/
i{
    background-color:white;
}

#searchBar{
    background-color:#364461;
    opacity: 0.5;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar input{
    border:none;
    background-color:#364461;
}

#notificationIcon{
    height:3rem;
}
/*header finished*/

/*general settings for main*/
main{
    display: grid;
    grid-template-columns: 80% 20%;
    margin:2rem 2rem;
}

.main-section{
    margin-top: 2rem;
    width: 100%;
    flex-grow:2;
}

/*carousel styling*/
#s1,#s2,#s3{
    visibility: hidden;
}


#slider {
    height: 30vh;
    width: 100%;
    margin-left: 8rem;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  #slider label {
    margin: 2rem 2rem;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide1 {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 37%);
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide1, #s3:checked ~ #slide2 {
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 30%), 0 2px 2px 0 rgb(0 0 0 / 20%);
    transform: translate3d(20%, -62px, -120px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3 {
    box-shadow: 0 13px 25px 0 rgb(0 0 0 / 30%), 0 11px 7px 0 rgb(0 0 0 / 19%);
    transform: translate3d(-200px, 10px, 10px);
}
  
  
 
/*carousel finished*/



/*aside queue section*/

aside{
    margin-top: 2rem ;
    float:right;
}


.aside-header{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: large;
}

.dropdown-list select{
    color: white;
    background-color:#13274F;
    opacity: 0.7;
    width: fit-content;
    border: none;
}

/*tracklist*/

.playlist-content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}



.track{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.left-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index{
    opacity: 0.5;
}

.track-image img{
    width: 35px;
    height: 35px;
    border: 0.5px solid rgba(255, 255, 255, 0.9);
}

.middle-content{
    display: flex;
    flex-direction: column;
}

.right-content{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart:hover{
    transform: scale(1.5,1.5);
    color:red;
    transition: all ease-in-out 2s;
}






